:root {
  /* Colors */

  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --color-white: #fff;

  --color-primary: var(--color-bright-blue);
  --color-secondary: var(--color-pale-blue);
  --color-accent: var(--color-very-pale-blue);
  --color-headings: var(--dark-blue);
  --color-text: var(--desaturated-blue);

  /* Typography */

  --text-base-size: 16px;
  --typeface-red-hat-display: "Red Hat Display", Arial, Helvetica, sans-serif;
  --spacing: 1.5;
}

body {
  font-family: var(--typeface-red-hat-display);
  font-size: var(--text-base-size);
  line-height: var(--spacing);
}

h3,
h4 {
  color: var(--color-headings);
}

h3 {
  font-weight: 900;
}

h4 {
  font-weight: 700;
}

p {
  color: var(--color-text);
}

button {
  font: inherit;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
