:root {
  /* Colors */

  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --color-white: #fff;

  --color-primary: var(--color-bright-blue);
  --color-secondary: var(--color-pale-blue);
  --color-accent: var(--color-very-pale-blue);
  --color-headings: var(--dark-blue);
  --color-text: var(--desaturated-blue);

  /* Typography */

  --text-base-size: 62.5%;
  --typeface-red-hat-display: "Red Hat Display", Arial, Helvetica, sans-serif;
  --spacing: 1.5;
}

/* RESET DEFAULT STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--text-base-size);
}

body {
  font-family: var(--typeface-red-hat-display);
  font-size: 1.6rem;
  line-height: var(--spacing);
}

h3,
h4 {
  color: var(--color-headings);
}

h3 {
  font-weight: 900;
  font-size: 2.2rem;
}

h4 {
  font-weight: 700;
}

p {
  color: var(--color-text);
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  box-sizing: inherit;
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
