:root {
  /* Colors */

  --color-pale-blue: hsl(225, 100%, 94%);
  --color-bright-blue: hsl(245, 75%, 52%);
  --color-very-pale-blue: hsl(225, 100%, 98%);
  --color-desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --color-white: hsl(0, 0%, 100%);

  --color-primary: var(--color-bright-blue);
  --color-secondary: var(--color-pale-blue);
  --color-accent: var(--color-very-pale-blue);
  --color-headings: var(--dark-blue);
  --color-text: var(--color-desaturated-blue);

  /* Typography */

  --text-base-size: 62.5%;
  --typeface-red-hat-display: "Red Hat Display", Arial, Helvetica, sans-serif;
  --spacing: 1.5;

  /* Breakpoints */

  --size-mobile: 375px;
  --size-desktop: 1440px;
}

/* RESET DEFAULT STYLES */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--text-base-size);
}

body {
  font-family: var(--typeface-red-hat-display);
  font-size: 1.5rem;
  line-height: var(--spacing);
  background-color: var(--color-pale-blue);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: repeat-x;
  background-position: top center;
  background-size: contain;
}

h3,
h4 {
  color: var(--color-headings);
}

h3 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 700;
  font-size: 1.3rem;
}

p {
  color: var(--color-text);
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  box-sizing: inherit;
}

img {
  width: 100%;
  object-fit: cover;
}

/* Utilities */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1050px;
}

/* Card */

.card {
  max-width: 320px;
  border-radius: 15px;
  background-color: var(--color-accent);
  box-shadow: 2rem 2rem 5rem 1rem transparent, -2rem -2rem 5rem 1rem transparent;
}

.card__header {
  text-align: center;
  padding: 3rem 3.5rem;
}

.card__body {
  padding: 0 4rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Overlay */

.card-overlay {
  overflow: hidden;
}

/* Badge */

.badge {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}

.badge img {
  width: 32px;
  margin-top: 5px;
}

.badge__link a {
  text-decoration: underline;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.badge__link a:hover {
  text-decoration: none;
}

.badge p {
  font-size: 1.3rem;
  font-weight: 500;
}

/* Buttons */

.card__buttons {
  padding: 0 4rem 3rem;
}

.btn {
  display: block;
  background-color: var(--color-primary);
  border-radius: 6px;
  text-align: center;
  color: var(--color-white);
  font-weight: 700;
  padding: 0.7rem 1rem;
  cursor: pointer;
}

.btn:hover {
  background-color: hsla(245, 75%, 52%, 0.78);
}

.btn-link {
  display: block;
  color: var(--color-text);
  margin-top: 2rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
  transition: color 0.3s ease;
}

.btn-link:hover {
  color: var(--color-headings);
}

/* Attribution */

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .container {
    height: 100vh;
  }

  .card__heading {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.5rem;
  }
}
